@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import "bootstrap/css/bootstrap.min.css";

body {
    overflow-x: hidden;
    font-family: 'Lato',sans-serif;
    color: #505962;
}

/* Navigation */
.navbar {
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6) !important;
}

/* Landing Page */
.home-inner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/me.jpg);
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}
.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

/* What I do Section */
.block-title h2:before {
    display: block;
    position: absolute;
    content: '';
    width: 5%;
    background-color: #1ebba3;
    height: 2px;
    bottom: 0;
}

/* Footer */
footer {
    background-color: #40474e;
    color: white;
    padding: 2rem 0 2rem;
	margin-top: 1rem;
	text-align: center
}

.link-footer a {
	text-decoration: none;
	color:  rgba(255,255,255,.5);
}

.link-footer a:hover {
	text-decoration: none;
	color:  rgba(255, 255, 255, 0.705);
}

footer hr.socket {
	width: 100%;
	border: 0.05rem solid rgba(255,255,255);
}
footer .svg-inline--fa {
	color:  white;
	font-size: 2rem;
	word-spacing: 2rem;
	
}

footer .svg-inline--fa.fa-w-14 {
    width: 3rem;
}


/* Media Query */
@media (max-width: 576px) {

@media (max-width: 992px) {
	
}

@media (min-width: 993px) {
}